.kantovanje {
  height: calc(100vh - 70px);
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 70px;
}
.kantovanje--left {
  width: 10%;
  height: 100%;
}
.kantovanje--right {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.kantovanje--right-top {
  height: 85%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 5%;
}
.kantovanje--right-top--info {
  width: 40%;
  min-height: 80%;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.kantovanje--right-top--info .title {
  width: 85%;
  font-size: 24px;
  color: #666B70;
  line-height: 33px;
  font-weight: 300;
  padding-bottom: 20px;
}
.kantovanje--right-top--info .text {
  width: 85%;
  margin-top: 20px;
  font-size: 14px;
  color: #666B70;
  line-height: 22px;
  padding-bottom: 20px;
}
.kantovanje--right-top--image {
  width: 60%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}
.kantovanje--right-bottom {
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.kantovanje--right-bottom .line {
  width: 40px;
  border-bottom: 1px solid #840505;
}
.kantovanje--right-bottom .link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 10px;
}
.kantovanje--right-bottom .link a {
  font-size: 24px;
  color: #666B70;
  line-height: 33px;
}
