@import 'variables';

.kuhinja {
  width: 100%;
  position: relative;
  // display: flex;
  // flex-direction: column;
  top: 70px;
  &--top {
    width: 100%;
    min-height: calc(~"100vh - 70px");
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
      // align-items: center;
    &--left {
      width: 30%;
      min-height: 100%;
      background-color: @black;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      &--title {
        height: 10%;
        width: 80%;
        border-bottom: 3px solid @border-menu;
        font-size: 32px;
        line-height: 44px;
        font-weight: 500;
        color: @white;
      }
      &--menu {
        height: 80%;
        width: 80%;
        margin: 40px 0px;
        font-size: @font-medium;
        line-height: 27px;
        font-weight: 500;
        color: #B3B8BD;
        letter-spacing: -0.5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        &-item {
          width: 100%;
          a {

            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            color: #B3B8BD;
            letter-spacing: -0.5px;
          }
        }
      }
      &--back {
        height: 10%;
        width: 80%;
        font-size: 16px;
        line-height: 22px;
        color: @white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        a {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding-bottom: 10px;
          span {
            width: 15%;
          }
        }
      }
    }
    &--right {
      width: 70%;
    }
  }
}
.bottom {
  height: calc(~"100vh - 70px");
  position: relative;
  width: 100%;
  top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  // margin-top: 50px;
  // margin-bottom: 50px;
  &-single {
    width: 96.5%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: @lighter-grey;
    // justify-content: space-around;
    &--left {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-left: 5%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      .opis {
        &-title {
          font-size: 36px;
          font-weight: 500;
          color: @dark-grey;
          line-height: 45px;
          letter-spacing: -1px;
        }
        &-text {
          width: 90%;
          margin-top: 24px;
          font-size: 16px;
          font-weight: 300;
          color: @dark-grey;
          line-height: 22px;
          // letter-spacing: -1px;
        }
      }
      .slika{
        display: none;
      }
      .elements {
        width: 90%;
        &-label {
          margin-top: 55px;
          // margin-bottom: 32px;
          border-bottom: 1px solid @light-gray;
          p{
            font-size: 28px;
            color: @dark-grey;
            line-height: 38px;
          }
        }
        &-description {
          // margin-bottom: 32px;
          // height: 60px;
          // overflow-y: scroll;
          &--element {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            height: 100%;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            &-info {
              // width: 90%;
              height: 60px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              &--title {
                width: 70%;
                height: 100%;
                font-size: @font-small;
                line-height: 22px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
              }
              &--price{
                width: 20%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
              }
              &--harmonix {
                width: 10%;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: end;
                    -ms-flex-pack: end;
                        justify-content: flex-end;
              }
            }
          }
          &--material {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            // justify-content: space-around;
            border-bottom: 1px solid @light-gray;
            &--expanded {
              max-height: 200px;
              -webkit-transition: 0.5s ease-in;
              transition: 0.5s ease-in;
            }
            &--collapsed {
              max-height: 0px;
              -webkit-transition: 0.5s ease-out;
              transition: 0.5s ease-out;
              overflow: hidden;
            }
            &-title {
              width: 70%;
              font-size: @font-medium-bigger;
              line-height: 24px;
              font-weight: 500;
              margin-bottom: 15px;
            }
            &-description {
              width: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                      justify-content: space-between;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              .text {
                width: 70%;
                font-size: @font-small;
                line-height: 22px;
                // margin-top: 32px;
              }
              .thumb {
                width: 93px;
                height: 79px;
              }
            }
            &-link {
              width: 70%;
              // margin-top: 32pex;
              height: 60px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              a{
                font-size: 14px;
                line-height: 19px;
              }
            }
          }

        }
      }
    }
    &--right {
      width: 50%;
      min-height: 100%;
      background-size: 100%;
      overflow: hidden;
    }
  }
}
.more {
  min-height: calc(~"100vh - 70px");
  // min-height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 70px;
  margin: 50px 0px;
  &-term {
    width: 100%;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: @font-big-smaller;
    line-height: 44px;
    color: @dark-grey;
    padding-left: 5%;
  }
  &-wrapper {
    width: 95%;
    // display: grid;
    // grid-gap: 10px;
    // grid-template-columns: 440px 440px 440px;
    // grid-template-rows: 400px 400px;

    &-1 {
      width: 100%;
      height: 900px;
      display: -ms-grid;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 30% 30% 30%;
      grid-template-rows: 400px 400px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;

      .pic {
        &-1 {
          grid-column: 1;
          grid-row: 1;
        }
        &-2 {
          grid-column: ~"2 / 4";
          grid-row: ~"1 / 3";
        }
        &-3 {
          grid-column: 1;
          grid-row: 2;
        }
        &-4 {
          grid-column: 1;
          grid-row: 1;
        }
        &-5 {
          grid-column: 2;
          grid-row: 1;
        }
        &-6 {
          grid-column: 3;
          grid-row: 1;
        }
        &-7 {
          grid-column: 1;
          grid-row: 1;
        }
        &-8 {
          grid-column: 2;
          grid-row: 1;
        }
        &-9 {
          grid-column: 3;
          grid-row: 1;
        }
        &--inner {
          width: 100%;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          padding: 20px 0px 0px 20px;

          opacity: 1;
          // visibility: hidden;
          // transition: opacity 0.6s ease-out;
          // -moz-transition: opacity 0.6s ease-out;
          // -webkit-transition: opacity 0.6s ease-out;
          // -o-transition: opacity 0.6s ease-out;
          /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
          background: -webkit-gradient(linear, right top, left bottom, color-stop(23.88%, rgba(0,0,0,0)),color-stop(90.5%, #000000));
          background: linear-gradient(to bottom left, rgba(0,0,0,0) 23.88%,#000000 90.5%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
          &-top{
            min-height: 50%;
            &--cena {
              color: @white;
              font-size: @font-big-smaller;
              line-height: 49px;
              font-weight: 500;
            }
          }
          &-midd {
            height: 25%;
            width: 80%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            &--naslov1 {
              color: @white;
              font-size: @font-small;
              line-height: 22px;
              margin-bottom: 5px
            }
            &--naslov2 {
              color: @white;
              font-size: @font-medium-bigger;
              line-height: 33px;
              font-weight: 500;
              margin-bottom: 5px
            }
            &--opis {
              width: 100%;
              height: 21px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: @white;
              font-size: @font-small;
              line-height: 22px;
            }
          }
          &-bottom {
            height: 25%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            &--redline {
              width: 25%;
              margin-right: 30px;
              border-bottom: 3px solid @border-menu;
            }
            &--more {
              color: @white;
              font-size: @font-small;
              line-height: 22px;
            }
          }
        }
        // &:hover {
        //   .pic--inner {
        //     opacity: 1;
        //     // visibility: visible;
        //     transition: opacity 0.8s ease-in;
        //     -moz-transition: opacity 0.8s ease-in;
        //     -webkit-transition: opacity 0.8s ease-in;
        //     -o-transition: opacity 0.8s ease-in;
        //   }
        // }
      }
    }

    &-2, &-3 {
      width: 100%;
      height: 420px;
      display: -ms-grid;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 30% 30% 30%;
      grid-template-rows: 400px 400px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      .pic {
        &-1 {
          grid-column: 1;
          grid-row: 1;
        }
        &-2 {
          grid-column: ~"2 / 4";
          grid-row: ~"1 / 3";
        }
        &-3 {
          grid-column: 1;
          grid-row: 2;
        }
        &-4 {
          grid-column: 1;
          grid-row: 1;
        }
        &-5 {
          grid-column: 2;
          grid-row: 1;
        }
        &-6 {
          grid-column: 3;
          grid-row: 1;
        }
        &-7 {
          grid-column: 1;
          grid-row: 1;
        }
        &-8 {
          grid-column: 2;
          grid-row: 1;
        }
        &-9 {
          grid-column: 3;
          grid-row: 1;
        }
        &--inner {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          width: 100%;
          height: 100%;
          padding: 20px 0px 0px 20px;
          opacity: 1;
          // transition: opacity 0.6s ease-out;
          // -moz-transition: opacity 0.6s ease-out;
          // -webkit-transition: opacity 0.6s ease-out;
          // -o-transition: opacity 0.6s ease-out;
 /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
          background: -webkit-gradient(linear, right top, left bottom, color-stop(23.88%, rgba(0,0,0,0)),color-stop(90.5%, #000000));
          background: linear-gradient(to bottom left, rgba(0,0,0,0) 23.88%,#000000 90.5%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
          &-top{
            min-height: 50%;
            &--cena {
              color: @white;
              font-size: @font-big-smaller;
              line-height: 49px;
              font-weight: 500;
            }
          }
          &-midd {
            height: 25%;
            width: 80%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            &--naslov1 {
              color: @white;
              font-size: @font-small;
              line-height: 22px;
              margin-bottom: 5px
            }
            &--naslov2 {
              color: @white;
              font-size: @font-medium-bigger;
              line-height: 33px;
              font-weight: 500;
              margin-bottom: 5px
            }
            &--opis {
              width: 100%;
              height: 21px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: @white;
              font-size: @font-small;
              line-height: 22px;
            }
          }
          &-bottom {
            height: 25%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            &--redline {
              width: 25%;
              margin-right: 30px;
              border-bottom: 3px solid @border-menu;
            }
            &--more {
              color: @white;
              font-size: @font-small;
              line-height: 22px;
            }
          }
        }
        // &:hover {
        //   .pic--inner {
        //     opacity: 1;
        //     transition: opacity 0.6s ease-in;
        //     -moz-transition: opacity 0.6s ease-in;
        //     -webkit-transition: opacity 0.6s ease-in;
        //     -o-transition: opacity 0.6s ease-in;
        //   }
        // }
      }
    }
  }
}
.active {
  width: auto;
  border-bottom: 3px solid @border-menu;
}

@media only screen and (max-width: 1366px) {
  .bottom {
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1280px) {
  .bottom{
    &-single{
      &--left{
        padding-top: 15px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .kuhinja{
    &--top{
      &--left{
        &--back{
          a{
            span{
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
            }
          }
        }
      }
    }
  }
  .more{
    &-wrapper{
      &-1{
        height: 700px;
        grid-template-rows: 330px 330px;
      }
      &-2{
        height: 350px;
        grid-template-rows: 330px 330px;
      }
      &-3{
        height: 350px;
        grid-template-rows: 330px 330px;
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .bottom{
    margin-top: 0;
    &-single{
      width: 100%;
      &--left{
        width: 100%;
        padding-left: 0;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        .opis{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 50px 0 50px;
          &-title{
            font-size: 32px;
            line-height: 44px;
          }
          &-text{
            text-align: center;
            width: 55%;
            margin-bottom: 24px;
          }
        }
        .slika{
          display: block;
          height: 335px;
          width: 95%;
          background-position: center;
        }
        .elements{
          width: 94%;
          &-label{
            p{
              text-align: center;
            }
          }
          &-description{
            &--material{
              &-description{
                .thumb{
                  width: 206px;
                  height: 81px;
                }
              }
            }
          }
        }
      }
      &--right{
        display: none;
      }
    }
  }
  .more{
    margin-bottom: 400px;
    &-term{
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    &-wrapper{
      &-1{
        height: 640px;
        grid-template-columns: 47% 47%;
        grid-template-rows: 300px 300px;
        .pic{
          &-2{
            grid-column: ~"1 / 3";
            grid-row: ~"2 / 3";
          }
          &-3{
            grid-column: 2;
            grid-row: 1;
          }
        }
      }
      &-2{
        height: 320px;
        grid-template-columns: 47% 47%;
        grid-template-rows: 300px 300px;
        .pic{
          &-6{
            grid-column: 1;
            grid-row: 2;
          }
        }
      }
      &-3{
        height: 320px;;
        grid-template-columns: 47% 47%;
        grid-template-rows: 300px 300px;
        .pic{
          &-7{
            grid-column: 2;
            grid-row: 1;
          }
          &-8{
            grid-column: 1;
            grid-row: 2;
          }
          &-9{
            grid-column: 2;
            grid-row: 2;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .kuhinja{
    &--top{
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      &--left{
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        width: 100%;
        &--title{
          text-align: center;
          margin-top: 20px;
        }
        &--menu{
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          text-align: center;
          line-height: 40px;
        }
      }
      &--right{
      width: 100%;
      height: 420px;
      }
    }
  }
  .bottom{
    &-single{
      &--left{
        .opis{
          &-text{
            width: 90%;
          }
        }
      }
    }
  }
  .more{
    &-wrapper{
      &-1{
        grid-template-rows: 250px 250px;
        height: 540px;
        .pic{
          &--inner{
            &-top{
              min-height: 35%;
            }
            &-midd{
              height: 40%;
              &--naslov1{
                font-size: 14px;
              }
              &--naslov2{
                font-size: 20px;
              }
              &--opis{
                font-size: 14px;
              }
            }
          }
        }
      }
      &-2{
        grid-template-rows: 250px 250px;
        height: 270px;
        .pic{
          &--inner{
            &-top{
              min-height: 35%;
            }
            &-midd{
              height: 40%;
              &--naslov1{
                font-size: 14px;
              }
              &--naslov2{
                font-size: 20px;
              }
              &--opis{
                font-size: 14px;
              }
            }
          }
        }
      }
      &-3{
        grid-template-rows: 250px 250px;
        height: 240px;
        .pic{
          &--inner{
            &-top{
              min-height: 35%;
            }
            &-midd{
              height: 40%;
              &--naslov1{
                font-size: 14px;
              }
              &--naslov2{
                font-size: 20px;
              }
              &--opis{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .kuhinja{
    &--top{
      &--left{
        &--back{
          padding-bottom: 20px;
        }
      }
      &--right{
        height: 320px;
      }
    }
  }
  .bottom{
    &-single{
      &--left{
        .opis{
          &-title{
            font-size: 26px;
            line-height: 32px;
          }
        }
        .slika{
          height: 260px;
          background-position: center;
        }
        .elements{
          &-description{
            &--material{
              &--expanded{
                min-height: 340px;
              }
              &-description{
                -webkit-box-orient: vertical;
                -webkit-box-direction: reverse;
                    -ms-flex-direction: column-reverse;
                        flex-direction: column-reverse;
                .thumb{
                  width: 100%;
                  height: 130px;
                }
                .text{
                  width: 100%;
                  text-align: center;
                  margin: 20px 0 20px;
                }
              }
            }
          }
        }
      }
    }
  }
  .more{
    &-wrapper{
      &-1{
        grid-template-rows: 250px 250px 250px;
        grid-template-columns: 95%;
        height: 790px;
        margin-bottom: 20px;
        .pic{
          &-1{
            grid-column: 1;
            grid-row: 1;
          }
          &-2{
            grid-column: 1;
            grid-row: 2;
          }
          &-3{
            grid-column: 1;
            grid-row: 3;
          }
        }
      }
      &-2{
        grid-template-rows: 250px 250px 250px;
        grid-template-columns: 95%;
        height: 790px;
        margin-bottom: 20px;
        .pic{
          &-4{
            grid-column: 1;
            grid-row: 1;
          }
          &-5{
            grid-column: 1;
            grid-row: 2;
          }
          &-6{
            grid-column: 1;
            grid-row: 3;
          }
        }
      }
      &-3{
        grid-template-rows: 250px 250px 250px;
        grid-template-columns: 95%;
        height: 440px;
        .pic{
          &-7{
            grid-column: 1;
            grid-row: 1;
          }
          &-8{
            grid-column: 1;
            grid-row: 2;
          }
          &-9{
            grid-column: 1;
            grid-row: 3;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .kuhinja{
    &--top{
      min-height: 640px;
      &--right{
        height: 250px;
      }
    }
  }
  .bottom{
    &-single{
      &--left{
        .slika{
          height: 210px;
          background-position: center;
        }
      }
    }
  }
  .more{
    &-wrapper{
      &-1{
        grid-template-rows: 200px 200px 200px;
        height: 640px;
        .pic{
          &--inner{
            &-midd{
              &--opis{
                display: none;
              }
            }
          }
        }
      }
      &-2{
        grid-template-rows: 200px 200px 200px;
        height: 640px;
        .pic{
          &--inner{
            &-midd{
              &--opis{
                display: none;
              }
            }
          }
        }
      }
      &-3{
        grid-template-rows: 200px 200px 200px;
        height: 300px;
        .pic{
          &--inner{
            &-midd{
              &--opis{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
