.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #0E0E0E;
  overflow: hidden;
  z-index: 100000;
}
.menu--top {
  height: 70px;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.menu--top-logo {
  margin-left: 30px;
  flex: 1 5%;
}
.menu--top-links {
  flex: 2 65%;
  display: flex;
}
.menu--top-links-single {
  padding-left: 30px;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  overflow: hidden;
}
.menu--top-links-single--open {
  min-width: 150px;
  max-width: 350px;
  transition: max-width 0.5s ease-out;
}
.menu--top-links-single--close {
  max-width: 0px;
  transition: max-width 1s ease-out;
}
.menu--top-links-single--back {
  height: 100%;
  margin-right: 8px;
  min-width: 95px;
  max-width: 100px;
  width: 100px;
}
.menu--top-links-single--here {
  margin-left: 8px;
  min-width: 95px;
  max-width: 100px;
}
.menu--top-links ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.menu--top-links ul li {
  min-width: 95px;
  max-width: 150px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  list-style: none;
}
.menu--top-links--closed ul {
  max-width: 0px;
  transition: max-width 0.8s ease-out;
}
.menu--top-links--opened ul {
  max-width: 100%;
  transition: max-width 0.8s ease-out;
}
.menu--top-choice {
  height: 95%;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 10%;
}
.menu--top-choice--contact {
  flex: 1 20%;
  color: #FFFFFF;
}
.menu--top-choice--contact:hover {
  cursor: pointer;
}
.menu--top-choice--lang {
  display: none;
  flex: 2 40%;
  color: #FFFFFF;
  padding-left: 5%;
}
.menu--top-choice--lang:hover {
  cursor: pointer;
}
.menu--top-choice--ham {
  height: 18px;
  flex: 1 15%;
  display: flex;
  justify-content: flex-end;
}
.menu--top-choice--ham svg {
  height: 15px;
}
.menu--top-choice--ham:hover {
  cursor: pointer;
}
.menu--wrap {
  border-bottom: 0px solid #840505;
}
.menu--wrap-midd {
  max-height: 300px;
  height: 300px;
  transition: max-height 0.5s ease-out;
  position: relative;
  display: flex;
  justify-content: center;
}
.menu--wrap-midd-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu--wrap-midd-container--top {
  height: 90px;
  width: 77%;
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #373737;
}
.menu--wrap-midd-container--top-link {
  color: #666B70;
  font-size: 16px;
  line-height: 22px;
  margin-right: 50px;
}
.menu--wrap-midd-container--top-link--active {
  color: #FFFFFF;
  font-weight: 500;
}
.menu--wrap-midd-container--top-link--active::before {
  content: "";
  padding-left: 10px;
  border-left: 1px solid #840505;
}
.menu--wrap-midd-container--top-link:hover {
  cursor: pointer;
}
.menu--wrap-midd-container--bottom {
  height: 300px;
  width: 77%;
  position: relative;
  display: flex;
  overflow: hidden;
}
.menu--wrap-midd-container--bottom-wrapper {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
.menu--wrap-midd-container--bottom-wrapper-column {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 19px;
}
.menu--wrap-midd-container--bottom-wrapper-column p {
  height: 20px;
  margin: 35px 0px;
}
.menu--wrap-bottom {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515;
}
.menu--wrap-bottom-container {
  width: 77%;
  height: 85%;
  display: flex;
  justify-content: space-between;
}
.menu--wrap-bottom-container .elements {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu--wrap-bottom-container .elements-title {
  height: 15%;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}
.menu--wrap-bottom-container .elements-container {
  height: 85%;
  display: flex;
  align-items: center;
}
.menu--wrap-bottom-container .elements-container--pic {
  width: 40%;
  height: 85%;
  border-bottom: 3px solid #840505;
}
.menu--wrap-bottom-container .elements-container--pic img {
  width: 100%;
  height: 100%;
}
.menu--wrap-bottom-container .elements-container--text {
  width: 60%;
  height: 85%;
  margin-left: 15px;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}
.menu--wrap-show {
  max-height: 565px;
  opacity: 1;
  border-width: 5px;
  transition: max-height 0.5s ease-in, opacity 0.4s linear, border-width 0.5s ease-in;
}
.menu--wrap-hide {
  max-height: 0px;
  opacity: 0;
  border-width: 0px;
  transition: max-height 0.5s ease-out, opacity 0.6s linear, border-width 0.5s ease-out;
}
.mobilemenu {
  width: 100%;
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #0E0E0E;
  overflow: hidden;
  z-index: 100000;
}
.mobilemenu--top {
  height: 70px;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.mobilemenu--top-logo {
  margin-left: 30px;
  flex: 1 5%;
}
.mobilemenu--top-choice {
  height: 95%;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 10%;
}
.mobilemenu--top-choice--contact {
  flex: 1 20%;
  color: #FFFFFF;
}
.mobilemenu--top-choice--contact:hover {
  cursor: pointer;
}
.mobilemenu--top-choice--contact-hide {
  opacity: 0;
  transition: opacity 0.4s linear;
  pointer-events: none;
}
.mobilemenu--top-choice--contact-show {
  opacity: 1;
  transition: opacity 0.4s linear;
  pointer-events: all;
}
.mobilemenu--top-choice--lang {
  display: none;
  flex: 2 40%;
  color: #FFFFFF;
  padding-left: 5%;
}
.mobilemenu--top-choice--lang:hover {
  cursor: pointer;
}
.mobilemenu--top-choice--ham {
  height: 18px;
  flex: 1 15%;
  display: flex;
  justify-content: flex-end;
}
.mobilemenu--top-choice--ham svg {
  height: 15px;
}
.mobilemenu--top-choice--ham:hover {
  cursor: pointer;
}
.mobilemenu--bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.mobilemenu--bottom-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  border-bottom: 2px solid #840505;
}
.mobilemenu--bottom-container--top {
  display: flex;
}
.mobilemenu--bottom-container--top-link {
  font-size: 18px;
  color: #666B70;
  padding-left: 5%;
  margin-bottom: 5px;
  font-weight: 300;
}
.mobilemenu--bottom-container--top-link a {
  font-weight: 300;
  font-size: 18px;
}
.mobilemenu--bottom-container--bottom {
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
}
.mobilemenu--bottom-container--bottom-wrapper {
  display: flex;
  min-width: 100%;
  overflow: hidden;
  justify-content: space-evenly;
}
.mobilemenu--bottom-container--bottom-wrapper-column {
  display: flex;
  flex-direction: column;
}
.mobilemenu--bottom-container--bottom-wrapper-column p {
  font-size: 14px;
  color: #484848;
  margin-bottom: 5px;
  font-weight: 300;
}
.mobilemenu--bottom-container--link {
  font-size: 14px;
  color: #666B70;
  padding-left: 5%;
  margin-bottom: 5px;
  font-weight: 300;
}
.mobilemenu--bottom-container--link a {
  font-weight: 300;
  font-size: 18px;
}
.mobilemenu--bottom-container--link-sub {
  font-size: 14px;
  color: #484848;
  padding-left: 60px;
}
.mobilemenu--bottom-container ul {
  display: flex;
  overflow: hidden;
}
.mobilemenu--bottom-container ul li {
  min-width: 95px;
  max-width: 150px;
  padding-left: 5%;
  font-size: 14px;
  line-height: 19px;
  color: #666B70;
  list-style: none;
  margin-bottom: 5px;
}
.mobilemenu--bottom-container ul li a {
  font-weight: 300;
  font-size: 18px;
}
.mobilemenu--bottom-hide {
  max-height: 0px;
  opacity: 0;
  transition: max-height 0.5s ease-in, opacity 0.4s linear;
  padding: 0px 0px;
}
.mobilemenu--bottom-hide-container ul {
  height: 0px;
}
.mobilemenu--bottom-show {
  height: 90vh;
  max-height: 90vh;
  opacity: 1;
  transition: max-height 0.5s ease-in, opacity 0.4s linear;
  padding: 25px 0px;
}
.mobilemenu--bottom-show-container ul {
  height: auto;
}
@media only screen and (max-width: 1366px) {
  .menu--wrap-bottom-container .elements {
    width: 49%;
  }
}
@media only screen and (max-width: 1024px) {
  .menu--wrap-midd {
    height: 280px;
  }
  .menu--wrap-midd-container--top {
    width: 88%;
  }
  .menu--wrap-midd-container--bottom {
    width: 88%;
  }
  .menu--wrap-bottom {
    height: 210px;
  }
  .menu--wrap-bottom-container {
    width: 93%;
    height: 85%;
  }
  .menu--wrap-bottom-container .elements {
    width: 47%;
    height: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .menu--wrap-bottom-container {
    justify-content: space-evenly;
  }
  .menu--wrap-bottom-container .elements {
    width: 50%;
  }
  .menu--wrap-bottom-container .elements-container--text {
    line-height: 19px;
  }
}
@media only screen and (max-width: 840px) {
  .menu {
    display: none;
  }
  .mobilemenu {
    display: flex;
  }
}
@media only screen and (max-width: 400px) {
  .mobilemenu--bottom {
    justify-content: space-around;
  }
  .mobilemenu--bottom-container {
    width: 85%;
    padding-left: 30px;
  }
  .mobilemenu--bottom-container--link {
    padding: 10px 0px;
  }
  .mobilemenu--bottom-container--link-sub {
    display: none;
  }
  .mobilemenu--bottom-container ul li {
    padding: 10px 0px;
  }
  .mobilemenu--bottom-show {
    padding: 30px 0px;
  }
}
