.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #0E0E0E;
  overflow: hidden;
  z-index: 100000;
}
.menu--top {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0E0E0E;
}
.menu--top-logo {
  margin-left: 30px;
  -webkit-box-flex: 1;
  -ms-flex: 1 5%;
  flex: 1 5%;
}
.menu--top-links {
  -webkit-box-flex: 2;
  -ms-flex: 2 65%;
  flex: 2 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu--top-links-single {
  max-height: 20px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  overflow: hidden;
}
.menu--top-links-single--open {
  max-width: 350px;
  -webkit-transition: max-width 0.5s ease-out;
  transition: max-width 0.5s ease-out;
}
.menu--top-links-single--close {
  max-width: 0px;
  -webkit-transition: max-width 0.5s ease-out;
  transition: max-width 0.5s ease-out;
}
.menu--top-links-single--back {
  height: 100%;
  margin-right: 8px;
  min-width: 95px;
  max-width: 100px;
  width: 100px;
}
.menu--top-links-single--here {
  margin-left: 8px;
  min-width: 95px;
  max-width: 100px;
}
.menu--top-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.menu--top-links ul li {
  min-width: 95px;
  max-width: 150px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  list-style: none;
}
.menu--top-links--closed ul {
  max-width: 0px;
  -webkit-transition: max-width 1s ease-out;
  transition: max-width 1s ease-out;
}
.menu--top-links--opened ul {
  max-width: 100%;
  -webkit-transition: max-width 1s ease-out;
  transition: max-width 1s ease-out;
}
.menu--top-choice {
  height: 95%;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex: 1 10%;
  flex: 1 10%;
}
.menu--top-choice--contact {
  -webkit-box-flex: 1;
  -ms-flex: 1 20%;
  flex: 1 20%;
  color: #FFFFFF;
  text-align: left;
}
.menu--top-choice--contact:hover {
  cursor: pointer;
}
.menu--top-choice--search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px 5px;
}
.menu--top-choice--search img {
  width: 65%;
}
.menu--top-choice--search:hover {
  cursor: pointer;
}
.menu--top-choice--lang {
  display: none;
  -webkit-box-flex: 2;
  -ms-flex: 2 40%;
  flex: 2 40%;
  color: #FFFFFF;
  padding-left: 5%;
}
.menu--top-choice--lang:hover {
  cursor: pointer;
}
.menu--top-choice--ham {
  height: 18px;
  -webkit-box-flex: 1;
  -ms-flex: 1 10%;
  flex: 1 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.menu--top-choice--ham svg {
  height: 15px;
}
.menu--top-choice--ham:hover {
  cursor: pointer;
}
.menu--wrap {
  border-bottom: 0px solid #840505;
}
.menu--wrap-midd {
  max-height: 300px;
  height: 300px;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.menu--wrap-midd-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu--wrap-midd-container--top {
  height: 90px;
  width: 77%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #373737;
}
.menu--wrap-midd-container--top-link {
  color: #666B70;
  font-size: 16px;
  line-height: 22px;
  margin-right: 50px;
}
.menu--wrap-midd-container--top-link--active {
  color: #FFFFFF;
  font-weight: 500;
}
.menu--wrap-midd-container--top-link--active::before {
  content: "";
  padding-left: 10px;
  border-left: 1px solid #840505;
}
.menu--wrap-midd-container--top-link:hover {
  cursor: pointer;
}
.menu--wrap-midd-container--bottom {
  height: 300px;
  width: 77%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.menu--wrap-midd-container--bottom-wrapper {
  min-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: transform 0.8s ease-in-out 0.1s, opacity 0.3s ease-in-out;
  transition: transform 0.8s ease-in-out 0.1s, opacity 0.3s ease-in-out;
}
.menu--wrap-midd-container--bottom-wrapper-column {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 19px;
}
.menu--wrap-midd-container--bottom-wrapper-column p {
  height: 20px;
  margin: 35px 0px;
}
.menu--wrap-bottom {
  height: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #151515;
}
.menu--wrap-bottom-container {
  width: 77%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu--wrap-bottom-container .elements {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu--wrap-bottom-container .elements-title {
  height: 15%;
  font-size: 16px;
  color: #FFFFFF;
}
.menu--wrap-bottom-container .elements-container {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu--wrap-bottom-container .elements-container--pic {
  width: 40%;
  height: 74%;
  border-bottom: 3px solid #840505;
}
.menu--wrap-bottom-container .elements-container--pic img {
  width: 100%;
  height: 100%;
}
.menu--wrap-bottom-container .elements-container--text {
  width: 60%;
  height: 74%;
  margin-left: 15px;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}
.menu--wrap-show {
  max-height: 565px;
  opacity: 1;
  border-width: 3px;
  -webkit-transition: max-height 0.5s ease-in, opacity 0.4s linear, border-width 0.5s ease-in;
  transition: max-height 0.5s ease-in, opacity 0.4s linear, border-width 0.5s ease-in;
}
.menu--wrap-hide {
  max-height: 0px;
  opacity: 0;
  border-width: 0px;
  -webkit-transition: max-height 0.5s ease-out, opacity 0.6s linear, border-width 0.5s ease-out;
  transition: max-height 0.5s ease-out, opacity 0.6s linear, border-width 0.5s ease-out;
}
.mobilemenu {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #0E0E0E;
  overflow: hidden;
  z-index: 100000;
}
.mobilemenu--top {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mobilemenu--top-logo {
  margin-left: 30px;
  -webkit-box-flex: 1;
  -ms-flex: 1 5%;
  flex: 1 5%;
}
.mobilemenu--top-choice {
  height: 95%;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex: 1 10%;
  flex: 1 10%;
}
.mobilemenu--top-choice--contact {
  -webkit-box-flex: 1;
  -ms-flex: 1 20%;
  flex: 1 20%;
  color: #FFFFFF;
}
.mobilemenu--top-choice--contact:hover {
  cursor: pointer;
}
.mobilemenu--top-choice--contact-hide {
  opacity: 0;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  pointer-events: none;
}
.mobilemenu--top-choice--contact-show {
  opacity: 1;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  pointer-events: all;
}
.mobilemenu--top-choice--search {
  margin: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mobilemenu--top-choice--search img {
  width: 65%;
}
.mobilemenu--top-choice--lang {
  display: none;
  -webkit-box-flex: 2;
  -ms-flex: 2 40%;
  flex: 2 40%;
  color: #FFFFFF;
  padding-left: 5%;
}
.mobilemenu--top-choice--lang:hover {
  cursor: pointer;
}
.mobilemenu--top-choice--ham {
  height: 18px;
  -webkit-box-flex: 1;
  -ms-flex: 1 15%;
  flex: 1 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.mobilemenu--top-choice--ham svg {
  height: 15px;
}
.mobilemenu--top-choice--ham:hover {
  cursor: pointer;
}
.mobilemenu--bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.mobilemenu--bottom-container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px 0px;
  border-bottom: 1px solid #840505;
}
.mobilemenu--bottom-container--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mobilemenu--bottom-container--top-link {
  min-width: 130px;
  font-size: 18px;
  color: #666B70;
  padding-left: 5%;
  margin-bottom: 5px;
  font-weight: 300;
}
.mobilemenu--bottom-container--top-link a {
  font-weight: 300;
  font-size: 18px;
}
.mobilemenu--bottom-container--top-link--active {
  color: #FFFFFF;
  font-weight: 500;
}
.mobilemenu--bottom-container--top-link--active::before {
  content: "";
  padding-left: 10px;
  border-left: 1px solid #840505;
}
.mobilemenu--bottom-container--top-link:hover {
  cursor: pointer;
}
.mobilemenu--bottom-container--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mobilemenu--bottom-container--bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  overflow: hidden;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
.mobilemenu--bottom-container--bottom-wrapper-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 15px;
}
.mobilemenu--bottom-container--bottom-wrapper-column p {
  font-size: 14px;
  color: #484848;
  margin: 5px 0px;
  font-weight: 300;
}
.mobilemenu--bottom-container--link {
  width: auto;
  font-size: 18px;
  color: #666B70;
  padding-left: 5%;
  margin-bottom: 5px;
  font-weight: 300;
}
.mobilemenu--bottom-container--link a {
  font-weight: 300;
  font-size: 18px;
}
.mobilemenu--bottom-container--link-sub {
  font-size: 14px;
  color: #484848;
  padding-left: 60px;
}
.mobilemenu--bottom-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.mobilemenu--bottom-container ul li {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 95px;
  max-width: 150px;
  padding-left: 5%;
  font-size: 14px;
  line-height: 19px;
  color: #666B70;
  list-style: none;
  margin-bottom: 5px;
}
.mobilemenu--bottom-container ul li a {
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
.mobilemenu--bottom-hide {
  max-height: 0px;
  opacity: 0;
  -webkit-transition: max-height 0.5s ease-in, opacity 0.4s linear;
  transition: max-height 0.5s ease-in, opacity 0.4s linear;
  padding: 0px 0px;
}
.mobilemenu--bottom-hide-container ul {
  height: 0px;
}
.mobilemenu--bottom-show {
  height: 90vh;
  max-height: 150vh;
  opacity: 1;
  -webkit-transition: max-height 0.5s ease-in, opacity 0.4s linear;
  transition: max-height 0.5s ease-in, opacity 0.4s linear;
  padding: 25px 0px;
}
.mobilemenu--bottom-show-container ul {
  height: auto;
}
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  width: 100%;
  min-height: 0px;
  top: 70px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #0E0E0E;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 5555555;
  border-left: 440px solid rgba(14, 14, 14, 0.75);
  border-right: 440px solid rgba(14, 14, 14, 0.75);
  /* border-bottom: 340px solid rgba(14,14,14, 0.75); */
  background-clip: padding-box;
  background-origin: padding-box;
}
.search--input {
  width: 90%;
  height: 45px;
  border-bottom: 1px solid #840505;
  position: relative;
  display: flex;
  align-items: center;
}
.search--input-icon {
  height: 50%;
  width: 5%;
}
.search--input-field {
  width: 95%;
  height: 50%;
}
.search--input-field input {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #0E0E0E;
  color: #FFFFFF;
  border: none;
  padding: 0px 10px;
}
.search--results {
  width: 90%;
  height: 81vh;
  overflow: hidden;
  position: relative;
}
.search--results-container {
  height: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: auto;
  margin-top: 15px;
}
.search--results-container a {
  width: 50%;
}
.search--results-container--row {
  width: 95%;
  min-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5px 0px;
}
.search--results-container--row-title {
  color: #DEDEDE;
}
.search--results-container--row-sifra {
  width: 50%;
  color: #DEDEDE;
  text-align: right;
}
.search--expanded {
  opacity: 1;
  max-height: 100vh;
  min-height: 100vh;
  overflow: auto;
  -webkit-transition: min-height 0.5s ease-in-out, opacity 0.3s ease-in-out, max-height 0.6s ease-in-out;
  transition: min-height 0.5s ease-in-out, opacity 0.3s ease-in-out, max-height 0.6s ease-in-out;
}
.search--collapsed {
  max-height: 0vh;
  -webkit-transition: min-height 0.5s ease-in-out, max-height 0.6s ease-in-out, opacity 1s ease-in-out;
  transition: min-height 0.5s ease-in-out, max-height 0.6s ease-in-out;
  overflow: hidden;
}
@media only screen and (max-width: 1366px) {
  .menu--wrap-bottom-container .elements {
    width: 49%;
  }
}
@media only screen and (max-width: 1280px) {
  .menu--wrap-bottom-container .elements-container {
    height: 80%;
  }
  .search {
    border-left: 340px solid rgba(14, 14, 14, 0.75);
    border-right: 340px solid rgba(14, 14, 14, 0.75);
  }
}
@media only screen and (max-width: 1024px) {
  .menu--top-choice {
    -webkit-box-flex: 1;
    -ms-flex: 1 15%;
    flex: 1 15%;
  }
  .menu--top-choice--contact {
    text-align: left;
  }
  .menu--top-choice--ham {
    -webkit-box-flex: 1;
    -ms-flex: 1 5%;
    flex: 1 5%;
  }
  .menu--wrap-midd {
    height: 280px;
  }
  .menu--wrap-midd-container--top {
    width: 88%;
  }
  .menu--wrap-midd-container--bottom {
    width: 88%;
  }
  .menu--wrap-bottom {
    height: 210px;
  }
  .menu--wrap-bottom-container {
    width: 93%;
    height: 85%;
  }
  .menu--wrap-bottom-container .elements {
    width: 48%;
    height: 100%;
  }
  .menu--wrap-bottom-container .elements-container {
    height: 85%;
  }
  .menu--wrap-bottom-container .elements-container--pic {
    height: 86%;
  }
  .search {
    border-left: 240px solid rgba(14, 14, 14, 0.75);
    border-right: 240px solid rgba(14, 14, 14, 0.75);
  }
}
@media only screen and (max-width: 960px) {
  .menu--top-choice {
    -webkit-box-flex: 1;
    -ms-flex: 1 20%;
    flex: 1 20%;
  }
  .menu--wrap-bottom-container {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .menu--wrap-bottom-container .elements {
    width: 50%;
  }
  .menu--wrap-bottom-container .elements-container--text {
    line-height: 19px;
    width: 59%;
    height: 86%;
  }
  .search {
    border-left: 200px solid rgba(14, 14, 14, 0.75);
    border-right: 200px solid rgba(14, 14, 14, 0.75);
  }
}
@media only screen and (max-width: 850px) {
  .menu {
    display: none;
  }
  .mobilemenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobilemenu--top-choice--ham {
    -webkit-box-flex: 0;
    -ms-flex: 0 20%;
    flex: 0 20%;
  }
  .search {
    border-left: 130px solid rgba(14, 14, 14, 0.75);
    border-right: 130px solid rgba(14, 14, 14, 0.75);
  }
}
@media only screen and (max-width: 640px) {
  .mobilemenu--bottom #menumaterijali {
    height: 65vh;
  }
  .mobilemenu--bottom-container {
    padding: 10px 0px;
  }
  .mobilemenu--bottom-container--bottom {
    height: 50vh;
  }
  .mobilemenu--bottom-container--bottom-wrapper {
    min-height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .mobilemenu--bottom-container--bottom-wrapper-column p {
    margin-top: 10px;
  }
  .mobilemenu--bottom-show {
    height: 130vh;
    padding: 10px 0px;
  }
  .search {
    border-left: 80px solid rgba(14, 14, 14, 0.75);
    border-right: 800px solid rgba(14, 14, 14, 0.75);
  }
}
@media only screen and (max-width: 540px) {
  .mobilemenu--bottom {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 10px 0px;
  }
  .mobilemenu--bottom #menumaterijali {
    height: 60px;
  }
  .mobilemenu--bottom #menumain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .mobilemenu--bottom #menunostali {
    padding: 0px 0px;
  }
  .mobilemenu--bottom #menunostali .mobilemenu--bottom-container--link {
    padding: 0px 0px;
  }
  .mobilemenu--bottom-container {
    padding: 0px;
    border-bottom: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mobilemenu--bottom-container--top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .mobilemenu--bottom-container--top-link {
    margin-bottom: 30px;
    padding-left: 0px;
  }
  .mobilemenu--bottom-container--bottom {
    display: none;
  }
  .mobilemenu--bottom-container--link {
    margin-bottom: 30px;
    padding-left: 0px;
  }
  .mobilemenu--bottom-container--link-sub {
    display: none;
  }
  .mobilemenu--bottom-container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .mobilemenu--bottom-container ul li {
    padding-left: 0px;
    margin-bottom: 30px;
  }
  .mobilemenu--bottom-show {
    padding: 30px 0px;
  }
}
@media only screen and (max-width: 420px) {
  .search {
    border-left: none;
    border-right: none;
  }
  .search--results-container a {
    width: 70%;
  }
  .search--results-container--row {
    width: 95%;
    min-height: 25px;
  }
  .search--results-container--row-title {
    width: 70%;
  }
  .search--results-container--row-sifra {
    width: 30%;
  }
}
@media only screen and (max-width: 360px) {
  .mobilemenu--top-logo {
    margin-left: 20px;
  }
  .mobilemenu--top-choice {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 840px) and (orientation: landscape) {
  .mobilemenu--bottom-show {
    padding: 15px 0px;
  }
  .search--results {
    height: 60vh;
  }
}
@media only screen and (max-width: 640px) and (orientation: landscape) {
  .mobilemenu--bottom-show {
    padding: 5px 0px;
  }
  .mobilemenu--bottom-container--top-link {
    padding-left: 3%;
  }
  .mobilemenu--bottom-container--link {
    padding-right: 1%;
  }
  .mobilemenu--bottom-container--bottom {
    height: 36vh;
  }
}
@media only screen and (max-width: 580px) and (orientation: landscape) {
  .mobilemenu--bottom-show {
    padding: 8px 0px;
  }
  .mobilemenu--bottom-container {
    padding: 4px 0px;
  }
  .mobilemenu--bottom-container--top-link {
    padding-left: 3%;
  }
  .mobilemenu--bottom-container--link {
    padding-left: 3%;
    padding-right: 7%;
  }
  .mobilemenu--bottom-container--bottom {
    height: 40vh;
  }
  .mobilemenu--bottom-container--bottom-wrapper-column {
    margin: 7px 15px 13px 15px;
  }
  .mobilemenu--bottom-container ul li {
    padding-left: 3%;
    padding-right: 7%;
  }
}
@media only screen and (max-width: 420px) and (orientation: landscape) {
  .mobilemenu--bottom-show {
    padding: 20px 0px;
  }
  .mobilemenu--bottom-container {
    padding: 8px 0px;
  }
}
