.ploce {
  width: 100%;
  position: relative;
  top: 70px;
  background-color: #0E0E0E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.ploce--top {
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ploce--top-hero {
  width: 100%;
  min-height: 85%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.ploce--top-hero .gradient {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(90.5%, #0C0807));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, #0C0807 90.5%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  /* IE6-9 */
}
.ploce--top-hero--title {
  text-align: left;
  color: #FFFFFF;
  font-size: 35px;
  margin-left: 3%;
}
.ploce--top-hero--text {
  width: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 3%;
  margin-bottom: 3%;
}
.ploce--top-hero--text :nth-child(1) {
  margin-top: 20px;
  text-align: left;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
}
.ploce--top-hero--text :nth-child(2) {
  width: 63%;
  margin-top: 20px;
  text-align: left;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
}
.ploce--midd {
  width: 100%;
  height: 220px;
  border-top: 1px solid #840505;
  border-bottom: 1px solid #840505;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.ploce--midd-title {
  height: 100%;
  width: 90%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ploce--midd-title--link {
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 48px;
}
.ploce--midd-title--link a {
  color: #FFFFFF;
  font-size: 32px;
  line-height: 48px;
}
.ploce--midd-title--partner img {
  height: 100%;
  width: 100%;
}
.ploce--bottom {
  height: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ploce--bottom-text {
  width: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ploce--bottom-text :nth-child(1) {
  margin-top: 20px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
}
.ploce--bottom-text :nth-child(2) {
  width: 63%;
  margin-top: 20px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
}
.materijali {
  min-height: calc(100vh - 70px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: 70px;
}
.materijali-term {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 32px;
  line-height: 44px;
  color: #666B70;
  padding-left: 3%;
}
.materijali-wrapper {
  width: 95%;
}
.materijali-wrapper-1 {
  width: 100%;
  height: 850px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 30.8% 30.5% 30.8%;
  grid-template-rows: 400px 400px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25px;
}
.materijali-wrapper-1 .pic {
  height: 100%;
}
.materijali-wrapper-1 .pic-1 {
  grid-column: 1;
  grid-row: 1;
}
.materijali-wrapper-1 .pic-2 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.materijali-wrapper-1 .pic-2 .pic--inner-top {
  height: 1500px;
}
.materijali-wrapper-1 .pic-3 {
  grid-column: 1;
  grid-row: 2;
}
.materijali-wrapper-1 .pic-4 {
  grid-column: 1;
  grid-row: 1;
}
.materijali-wrapper-1 .pic-5 {
  grid-column: 2;
  grid-row: 1;
}
.materijali-wrapper-1 .pic-6 {
  grid-column: 3;
  grid-row: 1;
}
.materijali-wrapper-1 .pic-7 {
  grid-column: 1;
  grid-row: 1;
}
.materijali-wrapper-1 .pic-8 {
  grid-column: 2;
  grid-row: 1;
}
.materijali-wrapper-1 .pic-9 {
  grid-column: 3;
  grid-row: 1;
}
.materijali-wrapper-1 .pic--inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.materijali-wrapper-1 .pic--inner-top {
  height: 80%;
  width: 100%;
}
.materijali-wrapper-1 .pic--inner-midd {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  opacity: 1;
}
.materijali-wrapper-1 .pic--inner-midd--naslov1 {
  color: #666B70;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 5px;
}
.materijali-wrapper-1 .pic--inner-midd--naslov2 {
  color: #666B70;
  font-size: 19px;
  line-height: 33px;
  font-weight: 500;
}
.materijali-wrapper-1 .pic--inner-midd--more {
  display: none;
  align-items: center;
  width: 90px;
  color: #666B70;
  font-size: 20px;
  line-height: 22px;
}
.materijali-wrapper-1 .pic--inner-bottom {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FFFFFF;
  opacity: 1;
}
.materijali-wrapper-1 .pic--inner-bottom--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.materijali-wrapper-1 .pic--inner-bottom--left--opis {
  width: auto;
  min-width: 70px;
  margin-right: 20px;
  height: 26px;
  overflow: hidden;
  color: #666B70;
  font-size: 19px;
  line-height: 22px;
}
.materijali-wrapper-1 .pic--inner-bottom--left--redline {
  width: 70px;
  margin-right: 20px;
  border-bottom: 3px solid #840505;
}
.materijali-wrapper-1 .pic--inner-bottom--right {
  width: auto;
  height: 26px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.materijali-wrapper-1 .pic--inner-bottom--right--more {
  width: 90px;
  color: #666B70;
  font-size: 20px;
  line-height: 22px;
}
.materijali-wrapper-1 .pic--inner-bottom--right--cena {
  color: #666B70;
  font-size: 32px;
  line-height: 49px;
  font-weight: 500;
}
.materijali-wrapper-2,
.materijali-wrapper-3 {
  width: 100%;
  height: 420px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 30.8% 30.5% 30.8%;
  grid-template-rows: 400px 400px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.materijali-wrapper-2 .pic,
.materijali-wrapper-3 .pic {
  height: 100%;
  width: 100%;
}
.materijali-wrapper-2 .pic-1,
.materijali-wrapper-3 .pic-1 {
  grid-column: 1;
  grid-row: 1;
}
.materijali-wrapper-2 .pic-2,
.materijali-wrapper-3 .pic-2 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.materijali-wrapper-2 .pic-3,
.materijali-wrapper-3 .pic-3 {
  grid-column: 1;
  grid-row: 2;
}
.materijali-wrapper-2 .pic-4,
.materijali-wrapper-3 .pic-4 {
  grid-column: 1;
  grid-row: 1;
}
.materijali-wrapper-2 .pic-5,
.materijali-wrapper-3 .pic-5 {
  grid-column: 2;
  grid-row: 1;
}
.materijali-wrapper-2 .pic-6,
.materijali-wrapper-3 .pic-6 {
  grid-column: 3;
  grid-row: 1;
}
.materijali-wrapper-2 .pic-7,
.materijali-wrapper-3 .pic-7 {
  grid-column: 1;
  grid-row: 1;
}
.materijali-wrapper-2 .pic-8,
.materijali-wrapper-3 .pic-8 {
  grid-column: 2;
  grid-row: 1;
}
.materijali-wrapper-2 .pic-9,
.materijali-wrapper-3 .pic-9 {
  grid-column: 3;
  grid-row: 1;
}
.materijali-wrapper-2 .pic--inner,
.materijali-wrapper-3 .pic--inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.materijali-wrapper-2 .pic--inner-top,
.materijali-wrapper-3 .pic--inner-top {
  height: 80%;
  width: 100%;
}
.materijali-wrapper-2 .pic--inner-midd,
.materijali-wrapper-3 .pic--inner-midd {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  opacity: 1;
}
.materijali-wrapper-2 .pic--inner-midd--naslov1,
.materijali-wrapper-3 .pic--inner-midd--naslov1 {
  color: #666B70;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 5px;
}
.materijali-wrapper-2 .pic--inner-midd--naslov2,
.materijali-wrapper-3 .pic--inner-midd--naslov2 {
  color: #666B70;
  font-size: 20px;
  line-height: 33px;
  font-weight: 500;
}
.materijali-wrapper-2 .pic--inner-midd--more,
.materijali-wrapper-3 .pic--inner-midd--more {
  display: none;
  align-items: center;
  width: 90px;
  color: #666B70;
  font-size: 20px;
  line-height: 22px;
}
.materijali-wrapper-2 .pic--inner-bottom,
.materijali-wrapper-3 .pic--inner-bottom {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FFFFFF;
  opacity: 1;
}
.materijali-wrapper-2 .pic--inner-bottom--left,
.materijali-wrapper-3 .pic--inner-bottom--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.materijali-wrapper-2 .pic--inner-bottom--left--opis,
.materijali-wrapper-3 .pic--inner-bottom--left--opis {
  width: auto;
  min-width: 70px;
  margin-right: 20px;
  height: 26px;
  overflow: hidden;
  color: #666B70;
  font-size: 20px;
  line-height: 22px;
}
.materijali-wrapper-2 .pic--inner-bottom--left--redline,
.materijali-wrapper-3 .pic--inner-bottom--left--redline {
  width: 70px;
  margin-right: 20px;
  border-bottom: 3px solid #840505;
}
.materijali-wrapper-2 .pic--inner-bottom--right,
.materijali-wrapper-3 .pic--inner-bottom--right {
  width: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.materijali-wrapper-2 .pic--inner-bottom--right--more,
.materijali-wrapper-3 .pic--inner-bottom--right--more {
  width: 90px;
  height: 26px;
  color: #666B70;
  font-size: 20px;
  line-height: 22px;
}
.materijali-wrapper-2 .pic--inner-bottom--right--cena,
.materijali-wrapper-3 .pic--inner-bottom--right--cena {
  color: #666B70;
  font-size: 32px;
  line-height: 49px;
  font-weight: 500;
}
.materijali-readmore {
  width: 100%;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #0E0E0E;
}
.materijali-readmore--title {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 35px;
  color: #FFFFFF;
  line-height: 44px;
  padding-left: 3%;
}
.materijali-readmore--info {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.materijali-readmore--info-text {
  width: 50%;
  height: 100%;
  line-height: 22px;
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 3%;
}
.materijali-readmore--info-link {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 56px;
}
.materijali-readmore--info-link a {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 300;
}
@media screen and (max-width: 1024px) {
  .materijali-wrapper-1 .pic--inner-bottom--right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .materijali-wrapper-1 .pic--inner-bottom--left--redline {
    display: none;
  }
  .materijali-wrapper-2 .pic--inner-bottom--right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .materijali-wrapper-2 .pic--inner-bottom--left--redline {
    display: none;
  }
  .materijali-wrapper-3 .pic--inner-bottom--right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .materijali-wrapper-3 .pic--inner-bottom--left--redline {
    display: none;
  }
  .materijali-readmore--info-text {
    width: 70%;
  }
  .materijali-readmore--info-link {
    width: 30%;
  }
}
@media screen and (max-width: 960px) {
  .ploce--top {
    margin-left: 0;
    height: 470px;
  }
  .ploce--top-hero--title {
    font-size: 30px;
    margin-bottom: 8%;
  }
  .ploce--top-hero--text {
    display: none;
  }
  .ploce--midd {
    height: 180px;
  }
  .materijali-wrapper-1 {
    grid-template-columns: 45% 45%;
    grid-template-rows: 350px 350px;
    height: 750px;
  }
  .materijali-wrapper-1 .pic-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  .materijali-wrapper-1 .pic-2 .pic--inner-top {
    height: 650px;
  }
  .materijali-wrapper-1 .pic--inner-midd {
    height: 70px;
  }
  .materijali-wrapper-1 .pic--inner-midd--naslov2 {
    display: flex;
    align-items: center;
  }
  .materijali-wrapper-1 .pic--inner-midd--more {
    display: flex;
    margin-top: 3px;
  }
  .materijali-wrapper-1 .pic--inner-bottom {
    display: none;
    height: 45px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 10px;
  }
  .materijali-wrapper-1 .pic--inner-bottom--left {
    display: none;
  }
  .materijali-wrapper-1 .pic--inner-bottom--right {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .materijali-wrapper-2 {
    grid-template-columns: 45% 45%;
    grid-template-rows: 350px 350px;
    height: 750px;
  }
  .materijali-wrapper-2 .pic-6 {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .materijali-wrapper-2 .pic--inner-midd {
    height: 70px;
  }
  .materijali-wrapper-2 .pic--inner-midd--naslov2 {
    display: flex;
    align-items: center;
  }
  .materijali-wrapper-2 .pic--inner-midd--more {
    display: flex;
    margin-top: 3px;
  }
  .materijali-wrapper-2 .pic--inner-bottom {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 20px;
  }
  .materijali-wrapper-2 .pic--inner-bottom--left {
    display: none;
  }
  .materijali-wrapper-2 .pic--inner-bottom--right {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .materijali-wrapper-3 {
    grid-template-columns: 45% 45%;
    grid-template-rows: 350px 350px;
    height: 750px;
  }
  .materijali-wrapper-3 .pic-9 {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .materijali-wrapper-3 .pic--inner-midd {
    height: 70px;
  }
  .materijali-wrapper-3 .pic--inner-midd--naslov2 {
    display: flex;
    align-items: center;
  }
  .materijali-wrapper-3 .pic--inner-midd--more {
    display: flex;
    margin-top: 3px;
  }
  .materijali-wrapper-3 .pic--inner-bottom {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 20px;
  }
  .materijali-wrapper-3 .pic--inner-bottom--left {
    display: none;
  }
  .materijali-wrapper-3 .pic--inner-bottom--right {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .materijali-readmore--title {
    font-size: 25px;
  }
  .materijali-readmore--info-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .ploce--top {
    height: 390px;
  }
  .ploce--midd {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .ploce--bottom {
    padding: 0 20px 0;
  }
  .materijali-wrapper-1 {
    grid-template-columns: 95%;
    grid-template-rows: 200px 200px 200px;
    height: 810px;
  }
  .materijali-wrapper-1 .pic-1 {
    grid-column: 1;
    grid-row: 1;
  }
  .materijali-wrapper-1 .pic-2 {
    grid-column: 1;
    grid-row: 2;
  }
  .materijali-wrapper-1 .pic-2 .pic--inner-top {
    height: 80%;
  }
  .materijali-wrapper-1 .pic-3 {
    grid-column: 1;
    grid-row: 3;
  }
  .materijali-wrapper-1 .pic--inner-bottom--right--more {
    text-align: end;
  }
  .materijali-wrapper-2 {
    grid-template-columns: 95%;
    grid-template-rows: 200px 200px 200px;
    height: 810px;
  }
  .materijali-wrapper-2 .pic-4 {
    grid-column: 1;
    grid-row: 1;
  }
  .materijali-wrapper-2 .pic-5 {
    grid-column: 1;
    grid-row: 2;
  }
  .materijali-wrapper-2 .pic-6 {
    grid-column: 1;
    grid-row: 3;
  }
  .materijali-wrapper-2 .pic--inner-bottom--right--more {
    text-align: end;
  }
  .materijali-wrapper-3 {
    grid-template-columns: 95%;
    grid-template-rows: 200px 200px 200px;
    height: 810px;
  }
  .materijali-wrapper-3 .pic-7 {
    grid-column: 1;
    grid-row: 1;
  }
  .materijali-wrapper-3 .pic-8 {
    grid-column: 1;
    grid-row: 2;
  }
  .materijali-wrapper-3 .pic-9 {
    grid-column: 1;
    grid-row: 3;
  }
  .materijali-wrapper-3 .pic--inner-bottom--right--more {
    text-align: end;
  }
}
@media screen and (max-width: 480px) {
  .ploce--top {
    height: 350px;
    margin-left: 0;
  }
  .ploce--top-hero--title {
    margin-bottom: 12%;
  }
  .ploce--midd-title--link a {
    font-size: 26px;
  }
  .ploce--bottom {
    min-height: 250px;
    height: auto;
    padding: 20px;
  }
  .ploce--bottom-text :nth-child(1) {
    margin-top: 10px;
  }
  .materijali-term {
    font-size: 28px;
  }
  .materijali-readmore--title {
    height: 70px;
  }
  .materijali-readmore--info {
    height: 130px;
  }
  .materijali-readmore--info-link {
    padding-right: 25px;
  }
}
@media screen and (max-width: 360px) {
  .ploce--top-hero--titile {
    text-align: center;
  }
  .ploce--midd {
    height: 400px;
  }
  .ploce--midd-title {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .materijali-readmore {
    height: auto;
  }
  .materijali-readmore--info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }
  .materijali-readmore--info-text {
    padding-left: 0;
    text-align: center;
  }
  .materijali-readmore--info-link {
    height: 100px;
    padding-right: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .materijali-readmore--title {
    padding-left: 0;
    height: 90px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
