.ploce {
  width: 100%;
  position: relative;
  top: 70px;
  background-color: #0E0E0E;
  display: flex;
  flex-direction: column;
}
.ploce--top {
  margin-left: 30px;
  height: calc(100vh - 70px - 90px);
  display: flex;
}
.ploce--top-hero {
  width: 100%;
  min-height: 85%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.ploce--top-hero--text {
  width: 740px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.ploce--top-hero--text :nth-child(1) {
  margin-top: 20px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
}
.ploce--top-hero--text :nth-child(2) {
  width: 63%;
  margin-top: 20px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
}
.ploce--midd {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #484848;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ploce--midd-title {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: -1px;
}
.ploce--midd-title--link {
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 48px;
}
.ploce--midd-title--link a {
  color: #FFFFFF;
  font-size: 32px;
  line-height: 48px;
}
.ploce--bottom {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ploce--bottom-text {
  width: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ploce--bottom-text :nth-child(1) {
  margin-top: 20px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
}
.ploce--bottom-text :nth-child(2) {
  width: 63%;
  margin-top: 20px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
}
.materijali {
  min-height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 70px;
  margin: 50px 0px;
}
.materijali-term {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  font-size: 32px;
  line-height: 44px;
  color: #666B70;
  padding-left: 5%;
}
.materijali-wrapper {
  width: 95%;
}
.materijali-wrapper-1 {
  width: 100%;
  height: 900px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 400px 400px;
  justify-content: center;
}
.materijali-wrapper-1 .pic-1 {
  grid-column: 1;
  grid-row: 1;
}
.materijali-wrapper-1 .pic-2 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.materijali-wrapper-1 .pic-2 .pic--inner-top {
  height: 1500px;
}
.materijali-wrapper-1 .pic-3 {
  grid-column: 1;
  grid-row: 2;
}
.materijali-wrapper-1 .pic-4 {
  grid-column: 1;
  grid-row: 1;
}
.materijali-wrapper-1 .pic-5 {
  grid-column: 2;
  grid-row: 1;
}
.materijali-wrapper-1 .pic-6 {
  grid-column: 3;
  grid-row: 1;
}
.materijali-wrapper-1 .pic-7 {
  grid-column: 1;
  grid-row: 1;
}
.materijali-wrapper-1 .pic-8 {
  grid-column: 2;
  grid-row: 1;
}
.materijali-wrapper-1 .pic-9 {
  grid-column: 3;
  grid-row: 1;
}
.materijali-wrapper-1 .pic--inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.materijali-wrapper-1 .pic--inner-top {
  height: 80%;
  width: 100%;
}
.materijali-wrapper-1 .pic--inner-midd {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #FFFFFF;
  opacity: 1;
}
.materijali-wrapper-1 .pic--inner-midd--naslov1 {
  color: #666B70;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
}
.materijali-wrapper-1 .pic--inner-midd--naslov2 {
  color: #666B70;
  font-size: 24px;
  line-height: 33px;
  font-weight: 500;
  margin-bottom: 5px;
  padding-left: 10px;
}
.materijali-wrapper-1 .pic--inner-bottom {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding-left: 10px;
  opacity: 1;
}
.materijali-wrapper-1 .pic--inner-bottom--left {
  display: flex;
  align-items: center;
}
.materijali-wrapper-1 .pic--inner-bottom--left--opis {
  width: auto;
  min-width: 70px;
  margin-right: 20px;
  height: 26px;
  overflow: hidden;
  color: #666B70;
  font-size: 24px;
  line-height: 22px;
}
.materijali-wrapper-1 .pic--inner-bottom--left--redline {
  width: 70px;
  margin-right: 20px;
  border-bottom: 3px solid #840505;
}
.materijali-wrapper-1 .pic--inner-bottom--right {
  width: auto;
  height: 26px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.materijali-wrapper-1 .pic--inner-bottom--right--more {
  width: 80px;
  color: #666B70;
  font-size: 16px;
  line-height: 22px;
}
.materijali-wrapper-1 .pic--inner-bottom--right--cena {
  color: #666B70;
  font-size: 32px;
  line-height: 49px;
  font-weight: 500;
}
.materijali-wrapper-2,
.materijali-wrapper-3 {
  width: 100%;
  height: 420px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 400px 400px;
  justify-content: center;
}
.materijali-wrapper-2 .pic-1,
.materijali-wrapper-3 .pic-1 {
  grid-column: 1;
  grid-row: 1;
}
.materijali-wrapper-2 .pic-2,
.materijali-wrapper-3 .pic-2 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.materijali-wrapper-2 .pic-3,
.materijali-wrapper-3 .pic-3 {
  grid-column: 1;
  grid-row: 2;
}
.materijali-wrapper-2 .pic-4,
.materijali-wrapper-3 .pic-4 {
  grid-column: 1;
  grid-row: 1;
}
.materijali-wrapper-2 .pic-5,
.materijali-wrapper-3 .pic-5 {
  grid-column: 2;
  grid-row: 1;
}
.materijali-wrapper-2 .pic-6,
.materijali-wrapper-3 .pic-6 {
  grid-column: 3;
  grid-row: 1;
}
.materijali-wrapper-2 .pic-7,
.materijali-wrapper-3 .pic-7 {
  grid-column: 1;
  grid-row: 1;
}
.materijali-wrapper-2 .pic-8,
.materijali-wrapper-3 .pic-8 {
  grid-column: 2;
  grid-row: 1;
}
.materijali-wrapper-2 .pic-9,
.materijali-wrapper-3 .pic-9 {
  grid-column: 3;
  grid-row: 1;
}
.materijali-wrapper-2 .pic--inner,
.materijali-wrapper-3 .pic--inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.materijali-wrapper-2 .pic--inner-top,
.materijali-wrapper-3 .pic--inner-top {
  height: 80%;
  width: 100%;
}
.materijali-wrapper-2 .pic--inner-midd,
.materijali-wrapper-3 .pic--inner-midd {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 20px;
  background-color: #FFFFFF;
  opacity: 1;
}
.materijali-wrapper-2 .pic--inner-midd--naslov1,
.materijali-wrapper-3 .pic--inner-midd--naslov1 {
  color: #666B70;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
}
.materijali-wrapper-2 .pic--inner-midd--naslov2,
.materijali-wrapper-3 .pic--inner-midd--naslov2 {
  color: #666B70;
  font-size: 24px;
  line-height: 33px;
  font-weight: 500;
  margin-bottom: 5px;
}
.materijali-wrapper-2 .pic--inner-bottom,
.materijali-wrapper-3 .pic--inner-bottom {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding-left: 10px;
  opacity: 1;
}
.materijali-wrapper-2 .pic--inner-bottom--left,
.materijali-wrapper-3 .pic--inner-bottom--left {
  display: flex;
  align-items: center;
}
.materijali-wrapper-2 .pic--inner-bottom--left--opis,
.materijali-wrapper-3 .pic--inner-bottom--left--opis {
  width: auto;
  min-width: 70px;
  margin-right: 20px;
  height: 21px;
  overflow: hidden;
  color: #666B70;
  font-size: 24px;
  line-height: 22px;
}
.materijali-wrapper-2 .pic--inner-bottom--left--redline,
.materijali-wrapper-3 .pic--inner-bottom--left--redline {
  width: 70px;
  margin-right: 20px;
  border-bottom: 3px solid #840505;
}
.materijali-wrapper-2 .pic--inner-bottom--right,
.materijali-wrapper-3 .pic--inner-bottom--right {
  width: auto;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.materijali-wrapper-2 .pic--inner-bottom--right--more,
.materijali-wrapper-3 .pic--inner-bottom--right--more {
  width: 80px;
  color: #666B70;
  font-size: 16px;
  line-height: 22px;
}
.materijali-wrapper-2 .pic--inner-bottom--right--cena,
.materijali-wrapper-3 .pic--inner-bottom--right--cena {
  color: #666B70;
  font-size: 32px;
  line-height: 49px;
  font-weight: 500;
}
@media screen and (max-width: 960px) {
  .ploce--top {
    height: 500px;
    margin-left: 0;
  }
  .materijali-wrapper-1 {
    grid-template-columns: 45% 45%;
    grid-template-rows: 350px 350px;
    height: 750px;
  }
  .materijali-wrapper-1 .pic-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  .materijali-wrapper-1 .pic-2 .pic--inner-top {
    height: 1350px;
  }
  .materijali-wrapper-1 .pic--inner-bottom {
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
  }
  .materijali-wrapper-1 .pic--inner-bottom--left {
    display: none;
  }
  .materijali-wrapper-1 .pic--inner-bottom--right {
    width: 100%;
    align-items: center;
  }
  .materijali-wrapper-2 {
    grid-template-columns: 45% 45%;
    grid-template-rows: 350px 350px;
    height: 700px;
  }
  .materijali-wrapper-2 .pic-6 {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .materijali-wrapper-2 .pic--inner-bottom {
    align-items: center;
    padding-right: 20px;
  }
  .materijali-wrapper-2 .pic--inner-bottom--left {
    display: none;
  }
  .materijali-wrapper-2 .pic--inner-bottom--right {
    width: 100%;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .ploce--bottom {
    padding: 0 20px 0;
  }
  .materijali-wrapper-1 {
    grid-template-rows: 300px 300px;
    height: 650px;
  }
  .materijali-wrapper-1 .pic-2 .pic--inner-top {
    height: 1170px;
  }
  .materijali-wrapper-2 {
    grid-template-rows: 300px 300px;
    height: 620px;
  }
}
@media screen and (max-width: 480px) {
  .ploce--top {
    height: 350px;
    margin-left: 0;
  }
  .ploce--midd-title--link a {
    font-size: 26px;
  }
  .ploce--bottom {
    min-height: 250px;
    height: auto;
    padding: 20px;
  }
  .ploce--bottom-text :nth-child(1) {
    margin-top: 10px;
  }
  .materijali-term {
    font-size: 28px;
  }
  .materijali-wrapper-1 {
    grid-template-columns: 95%;
    grid-template-rows: 250px 250px 250px;
    height: 810px;
  }
  .materijali-wrapper-1 .pic-1 {
    grid-column: 1;
    grid-row: 1;
  }
  .materijali-wrapper-1 .pic-2 {
    grid-column: 1;
    grid-row: 2;
  }
  .materijali-wrapper-1 .pic-2 .pic--inner-top {
    height: 80%;
  }
  .materijali-wrapper-1 .pic-3 {
    grid-column: 1;
    grid-row: 3;
  }
  .materijali-wrapper-2 {
    grid-template-columns: 95%;
    grid-template-rows: 250px 250px 250px;
    height: 790px;
  }
  .materijali-wrapper-2 .pic-4 {
    grid-column: 1;
    grid-row: 1;
  }
  .materijali-wrapper-2 .pic-5 {
    grid-column: 1;
    grid-row: 2;
  }
  .materijali-wrapper-2 .pic-6 {
    grid-column: 1;
    grid-row: 3;
  }
}
