@media only screen and (max-width: 1440px) {
  .usluge--left-badge {
    top: 84.5%;
  }
  .usluge--right-bottom .arrow {
    height: 100px;
  }
  .usluge--right-bottom .galleryservice .wrap--text {
    height: 30%;
  }
  .kantovanje--right-top--info .text {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 1366px) {
  .usluge--left-badge {
    top: 86.5%;
  }
  .usluge--right-bottom .galleryservice {
    height: 95%;
  }
  .usluge--right-bottom .arrow {
    height: 80px;
  }
  .kantovanje--right-top--info .title {
    width: 91%;
    margin-top: 20px;
    padding-bottom: 10px;
  }
  .kantovanje--right-top--info .text {
    width: 91%;
    padding-bottom: 10px;
  }
  .info--top-left-badge .rotate {
    top: 60px;
  }
  .info--top-right--contact .section {
    margin-top: 15px;
  }
  .info--top-right--contact .section--info span {
    margin: 8px 8% 8px 0px;
  }
  .info--top-right--contact .section-link {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 1280px) {
  .usluge--right-bottom .arrow {
    height: 100px;
  }
}
@media only screen and (max-width: 1024px) {
  .landing--left {
    display: none;
  }
  .landing--right {
    width: 100%;
  }
  .landing--right-top {
    padding: 0 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .landing--right-top-left {
    width: auto;
  }
  .landing--right-top-midd {
    width: auto;
    margin: 0px 10px;
  }
  .landing--right-top-midd--info span {
    width: auto;
  }
  .landing--right-top-right {
    width: auto;
    margin: 0px 10px;
  }
  .landing--right-top-right--info span {
    width: auto;
  }
  .usluge--left {
    display: none;
  }
  .usluge--right {
    width: 100%;
  }
  .usluge--right-bottom {
    width: 95%;
    margin-left: 5%;
  }
  .usluge--right-bottom .arrow {
    height: 100px;
  }
  .usluge--right-bottom .gallery .wrap--number {
    height: 20%;
  }
  .usluge--right-bottom .gallery .wrap--picture {
    height: 45%;
  }
  .usluge--right-bottom .gallery .wrap--text {
    height: 35%;
  }
  .kantovanje {
    height: 680px;
  }
  .kantovanje--left {
    display: none;
  }
  .kantovanje--right {
    width: 100%;
  }
  .kantovanje--right-top {
    width: 95%;
    margin-left: 5%;
  }
  .kantovanje--right-top--image {
    height: 100%;
  }
  .kantovanje--right-bottom {
    width: 95%;
    margin-left: 5%;
  }
  .partners--inner-left {
    display: none;
  }
  .partners--inner-right {
    width: 100%;
    margin: 0px 5%;
  }
  .partners--inner-right--top .partner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .kontakt--inner {
    width: 90%;
  }
  .kontakt--inner-title {
    width: 100%;
  }
  .kontakt--inner-form {
    width: 100%;
  }
  .kontakt--inner-form--left div {
    width: 90%;
  }
  .kontakt--inner-form--right {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .kontakt--inner-form--right div {
    width: 90%;
  }
  .kontakt--inner-button {
    width: 90%;
  }
  .info--top-left {
    display: none;
  }
  .info--top-right {
    min-width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .info--top-right--contact {
    width: 35%;
  }
  .info--top-right--contact-md {
    width: 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .info--top-right--contact .section {
    width: auto;
    padding-right: 3%;
  }
  .info--top-right--contact .section--info span {
    margin: 0;
  }
  .info--top-right--contact .section-link {
    width: auto;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 960px) {
  .landing {
    height: 800px;
  }
  .landing--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .landing--right-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .landing--right-top-left {
    min-width: 70%;
  }
  .landing--right-top-left .title-lilliput {
    margin-top: 10px;
  }
  .landing--right-top-midd {
    min-width: 70%;
    margin-top: 20%;
  }
  .landing--right-top-midd--title {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0px;
  }
  .landing--right-top-midd--info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .landing--right-top-midd--info span {
    font-size: 14px;
    line-height: 17px;
    margin: 20px 0px;
  }
  .landing--right-top-right {
    min-width: 70%;
  }
  .landing--right-top-right--title {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0px;
  }
  .landing--right-top-right--info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .landing--right-top-right--info span {
    font-size: 14px;
    line-height: 17px;
    margin: 20px 0px;
  }
  .landing--right-bottom {
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .landing--right-bottom .image {
    height: 80%;
    background-position-x: center;
    position: absolute;
    bottom: -65px;
    width: 100%;
  }
  .usluge--right-top {
    height: 25%;
  }
  .usluge--right-top .tab-red {
    color: #666B70;
  }
  .usluge--right-bottom {
    width: 100%;
    margin-left: 0px;
  }
  .usluge--right-bottom .arrow {
    display: none;
  }
  .usluge--right-bottom .gallery .wrap--text {
    font-size: 14px;
    line-height: 22px;
  }
  .usluge--right-bottom .galleryservice .wrap {
    min-width: 40%;
  }
  .usluge--right-bottom .galleryservice .wrap--text {
    width: 85%;
    font-size: 14px;
    line-height: 22px;
  }
  .usluge--right-bottom .galleryservice .wrap--picture {
    height: 40%;
    width: 100%;
  }
  .usluge--right-bottom .dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .kantovanje--right-top {
    width: 100%;
    margin-left: 0;
    position: relative;
  }
  .kantovanje--right-top--info {
    width: 50%;
    min-height: 85%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .kantovanje--right-top--info .title {
    margin: 7% 0 7%;
    padding-bottom: 0;
  }
  .kantovanje--right-top--info .text {
    padding-bottom: 5%;
  }
  .kantovanje--right-top--image {
    width: 50%;
    background-position-x: center;
  }
  .kantovanje--right-bottom {
    position: absolute;
    bottom: 8%;
    margin-left: 2%;
  }
  .kantovanje--right-bottom .link a {
    font-size: 16px;
    line-height: 22px;
  }
  .single_picture {
    top: 75px;
    padding-top: 0;
  }
  .partners--inner-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .partners--inner-right--top {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .partners--inner-right--top .partner {
    width: 100%;
  }
  .kontakt--inner {
    width: 80%;
  }
  .info {
    height: 630px;
  }
  .info--top {
    height: 45%;
  }
  .info--top-right--contact {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .info--top-right--contact-md {
    width: 70%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .info--top-right--contact .section {
    margin-top: 40px;
  }
  .info--top-right--contact .section--info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .info--top-right--contact .section--info span {
    margin: 15px 0px;
  }
  .info--top-right--contact .section--info-mobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .info--top-right--contact .section--info-mobile .section--info span {
    margin: 0px;
  }
  .info--top-right--contact .section--info-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .info--top-right--contact .section--info-md span {
    margin: 15px 15px 15px 0px;
  }
  .info--top-right--contact .section--okovi {
    display: none;
  }
  .info--midd-map1 {
    height: 45%;
  }
  .info--midd-map2 {
    height: 45%;
  }
}
@media screen and (max-width: 840px) {
  .landing--right-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .landing--right-top-left {
    margin-left: 10%;
  }
  .landing--right-top-midd {
    margin-left: 10%;
  }
  .landing--right-top-right {
    margin-left: 10%;
  }
  .usluge--right-bottom .galleryservice .wrap--picture {
    height: 35%;
  }
  .info--top-right--contact {
    margin-right: 30px;
  }
  .info--top-right--contact-md {
    margin-left: 30px;
  }
  .info--top-right--contact .section-link {
    margin-top: 40px;
  }
}
@media screen and (max-width: 780px) {
  .kontakt--inner-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .kontakt--inner-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .kontakt--inner-form--left {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%;
  }
  .kontakt--inner-form--left div {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  .kontakt--inner-form--right {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%;
  }
  .kontakt--inner-form--right div {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  .kontakt--inner-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .kontakt--inner-button--message {
    width: 320px;
  }
  .kontakt--inner-button--message p {
    text-align: center;
  }
  .info--top-right--contact {
    width: 15%;
    margin-right: 30px;
  }
  .info--top-right--contact-md {
    width: 80%;
    margin-left: 30px;
  }
  .info--top-right--contact .section-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 20%;
    margin-top: 40px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media screen and (max-width: 720px) {
  .landing--right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .landing--right-top {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 25%;
  }
  .landing--right-top-left {
    margin-left: 0;
    text-align: center;
  }
  .landing--right-top-midd {
    display: none;
  }
  .landing--right-top-midd-720 {
    display: block;
  }
  .landing--right-top-midd--info span {
    text-align: center;
  }
  .landing--right-top-right {
    display: none;
  }
  .landing--right-top-right-720 {
    display: block;
  }
  .landing--right-top-right--info span {
    text-align: center;
  }
  .landing--right-bottom {
    height: 40%;
  }
  .landing--right-bottom .image {
    height: 100%;
    position: initial;
    bottom: 0;
  }
  .usluge--right-bottom .galleryservice .wrap--text {
    height: 40%;
  }
  .display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 35%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .kantovanje {
    height: 1100px;
  }
  .kantovanje--right-top {
    width: 100%;
    height: 100%;
    margin-left: 0;
    position: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .kantovanje--right-top--info {
    width: 100%;
    min-height: 55%;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .kantovanje--right-top--info .title {
    text-align: center;
    width: 80%;
  }
  .kantovanje--right-top--info .text {
    text-align: center;
    margin-bottom: 3%;
    width: 80%;
  }
  .kantovanje--right-top--image {
    width: 95%;
  }
  .kantovanje--right-bottom {
    position: initial;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 15%;
  }
  .kantovanje--right-bottom .line {
    width: 60px;
  }
  .kantovanje--right-bottom .link {
    margin-left: 0;
    height: 50%;
  }
}
@media screen and (max-width: 640px) {
  .info--top-right--contact {
    min-width: 0px;
    margin-right: 0px;
  }
  .info--top-right--contact .section {
    padding-left: 3%;
  }
  .info--top-right--contact-md {
    min-width: 100%;
    margin-left: 0px;
  }
  .info--top-right--contact .section-link {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .usluge--right-bottom .galleryservice .wrap {
    min-width: 60%;
  }
  .kantovanje {
    height: 1000px;
  }
  .kantovanje--right-top--info .title {
    width: 90%;
  }
  .kantovanje--right-top--info .text {
    width: 90%;
  }
  .kantovanje--right-top--image {
    width: 100%;
    height: 40%;
  }
  .partners {
    height: 1400px;
  }
  .partners--inner {
    height: 100%;
  }
  .partners--inner-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .partners--inner-right--top .partner {
    margin-bottom: 10%;
  }
  .info {
    height: 850px;
  }
  .info--top {
    height: 100%;
  }
  .info--top-right--contact-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-bottom: 40px;
  }
  .info--top-right--contact .section {
    text-align: center;
  }
  .info--top-right--contact .section--info-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .info--top-right--contact .section--info-md span {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .info--bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 20%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .info--bottom-left {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    font-size: 14px;
    margin-left: 0;
    text-align: center;
  }
  .info--bottom-midd {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding: 15px 0 15px;
  }
  .info--bottom-right {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-right: 0;
    font-size: 14px;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .landing {
    height: 1000px;
  }
  .usluge--right-top {
    height: 15%;
  }
  .usluge--right-bottom .galleryservice .wrap {
    min-width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .usluge--right-bottom .galleryservice .wrap--picture {
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .usluge--right-bottom .galleryservice .wrap--picture .title {
    position: absolute;
    bottom: -30%;
  }
  .usluge--right-bottom .galleryservice .wrap--picture .title p {
    color: #666B70;
  }
  .usluge--right-bottom .galleryservice .wrap--picture .title p:first-child {
    display: none;
  }
  .usluge--right-bottom .galleryservice .wrap--text {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 10px;
    text-align: center;
  }
  .display-flex {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .kantovanje--right-top--info {
    min-height: 75%;
  }
  .kantovanje--right-top--image {
    height: 30%;
  }
  .kantovanje--right-bottom {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .single_picture {
    height: 260px;
  }
  .single_picture--frame {
    height: 100%;
  }
  .single_picture--frame img {
    width: 100%;
    height: 100%;
  }
  .partners {
    height: 1020px;
  }
}
@media screen and (max-width: 360px) {
  .display-flex {
    height: 60%;
  }
  .usluge {
    height: 100vh;
  }
  .usluge--right-top .tab {
    font-weight: 300;
  }
  .usluge--right-bottom .galleryservice .wrap--picture {
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .usluge--right-bottom .galleryservice .wrap--picture .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .usluge--right-bottom .galleryservice .wrap--picture .title p {
    margin-left: 0;
  }
  .usluge--right-bottom .galleryservice .wrap--text {
    letter-spacing: 0px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
  }
  .kantovanje--right-top--info .title {
    font-weight: 300;
  }
  .kantovanje--right-top--info .text {
    font-size: 14px;
  }
  .partner--inner-right--top {
    margin-top: 20px;
  }
  .kontakt--inner-form--left div input {
    font-weight: 300;
  }
  .kontakt--inner-form--right div input {
    font-weight: 300;
  }
}
@media screen and (max-width: 820px) and (orientation: landscape) {
  .landing--right-bottom .image {
    bottom: 0px;
  }
  .usluge--right-top {
    height: 20%;
  }
  .usluge--right-top .tab {
    height: 35px;
  }
  .usluge--right-top .tab-red::after {
    padding-bottom: 8px;
  }
  .usluge--right-bottom .galleryservice {
    margin-left: 5px;
  }
  .usluge--right-bottom .galleryservice .wrap--number {
    height: 15%;
    font-size: 22px;
  }
  .usluge--right-bottom .galleryservice .wrap--picture {
    height: 50%;
  }
  .usluge--right-bottom .galleryservice .wrap--picture .title {
    margin-bottom: 9px;
  }
  .usluge--right-bottom .galleryservice .wrap--picture .title p {
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 9px;
  }
  .usluge--right-bottom .galleryservice .wrap--picture .title p img {
    height: 100%;
  }
  .usluge--right-bottom .galleryservice .wrap--picture .title p a {
    font-size: 12px;
  }
  .usluge--right-bottom .galleryservice .wrap--text {
    height: 35%;
    font-size: 9px;
    line-height: 12px;
  }
  .mobilemenu--bottom-container--top-link {
    margin-top: 0px;
  }
}
