.usluge {
  height: calc(100vh - 70px);
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 70px;
}
.usluge--left {
  width: 10%;
  height: 100%;
}
.usluge--left-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 85%;
}
.usluge--left-badge .rotate {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #FFFFFF;
  font-size: 14px;
  position: absolute;
}
.usluge--left-badge .rotate .title {
  margin-left: 5px;
  color: #666B70;
}
.usluge--right {
  width: 90%;
  height: 100%;
}
.usluge--right-top {
  height: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  border-bottom: 3px solid #EAEAEA;
}
.usluge--right-top .tab {
  width: auto;
  height: 44px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
  color: #B3B8BD;
  letter-spacing: -0.5px;
}
.usluge--right-top .tab:hover {
  cursor: pointer;
}
.usluge--right-top .tab-red {
  display: block;
}
.usluge--right-top .tab-red::after {
  content: "";
  display: block;
  border-bottom: 3px solid #840505;
  padding-bottom: 17px;
}
.usluge--right-bottom {
  height: 80%;
  width: 100%;
  overflow: hidden;
}
.usluge--right-bottom .arrow {
  height: 125px;
  position: absolute;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10000;
}
.usluge--right-bottom .arrow svg {
  height: 100%;
}
.usluge--right-bottom .arrow:hover {
  cursor: pointer;
}
.usluge--right-bottom .galleryservice {
  height: 94%;
  width: 100%;
  -webkit-animation: fadeInFromNone 1.6s ease-in;
  animation: fadeInFromNone 1.6s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.usluge--right-bottom .galleryservice .wrap {
  height: 100%;
  min-width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.usluge--right-bottom .galleryservice .wrap--number {
  height: 20%;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 50px;
  color: #666B70;
  opacity: 0.2;
  line-height: 24px;
  font-weight: 300;
}
.usluge--right-bottom .galleryservice .wrap--picture {
  height: 50%;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.usluge--right-bottom .galleryservice .wrap--picture .title {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.usluge--right-bottom .galleryservice .wrap--picture .title p {
  margin-left: 20px;
}
.usluge--right-bottom .galleryservice .wrap--text {
  height: 30%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  color: #666B70;
  line-height: 24px;
}
.usluge--right-bottom .gallery-hide {
  -webkit-animation: fadeOutToNone 0.8s ease-out;
  animation: fadeOutToNone 0.8ss ease-out;
  display: none;
}
.usluge--right-bottom .dots {
  width: 100%;
  height: 5%;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.usluge--right-bottom .dots--inner {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.usluge--right-bottom .dots--inner-dot {
  width: 16px;
  min-height: 2px;
  background-color: #DEDEDE;
  padding-top: 3px;
}
.usluge--right-bottom .dots--inner .focus {
  background-color: #840505;
}
.usluge--right-bottom .dots--none {
  display: none!important;
}
