@import 'variables';

.service {
  height: calc(~"100vh - 70px");
  width: 100%;
  top: 70px;
  display: flex;
  position: relative;
  &--left {
    height: 100%;
    width: 6%;
    display: flex;
    flex-direction: column;
    &-top {
      height: 90%;
      background-color: @black;
    }
    &-bottom {
      height: 10%;

    }
  }
  &--right {
    height: 100%;
    width: 94%;
    display: flex;
    background-color: #151515;
    &-left {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      &--top {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 60px;
        &-title {
          width: 50%;
          font-size: 60px;
          line-height: 70px;
          color: @white;
        }
        &-text {
          width: 70%;
          font-size: @font-small;
          line-height: 24px;
          color: @dark-grey;
        }
      }
      &--bottom {
        height: 20%;
        width: 100%;
        overflow: hidden;
        display: flex;
        &-pic {
          min-width: 33.3%;
          min-height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          &--inner {
            height: 15%;

          }
        }
      }
    }
    &-right {
      width: 60%;
      height: 100%;

      &--wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        &-image {
          min-width: 100%;
          min-height: 100%;
        }
      }
    }
  }
}
.serviceintro {
  min-height: calc(~"100vh - 70px");
  width: 100%;
  top: 70px;
  display: flex;
  position: relative;
}
